<!-- <tr>
  <th>Title</th>
  <th>Released on</th>
  <th>Type</th>
  <th>Poster</th>
</tr> -->
<div class=container *ngFor="let movie of movieItem.Search">
  <span>----------------------------------------------------------</span>  

  <tr><img src={{movie.Poster}}></tr>
  <tr>{{movie.Title}}</tr>
  <tr>{{movie.Year}}</tr>
  <!-- <tr>{{movie.imdbID}}</tr> -->
  <tr>{{movie.Type}}</tr>

  <!-- <tr><button class="btn btn-success">Click Me</button></tr> -->

  <span>----------------------------------------------------------</span>

</div>